<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">Eid-e-claus</span>
    </div>
    <div class="navbar-collapse collapse" id="header" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li><a href="/eid-e-claus-wishlist">Wishlist</a></li>
        <% if (hasPermission) { %>
          <li><a href="/eid-e-claus-draw">Draw</a></li>
        <% } %> 
        <li><a href="/eid-e-claus-account">Account</a></li>
      </ul>
      <form action="/eid-e-claus-logout" method="POST" class="navbar-form navbar-right">
        <button type="submit" class="btn btn-default">Logout</button>
      </form>
    </div>
  </div>
</nav>