<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>404 Not Found</title>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Error</h3>
          </div>
          <div class="panel-body">
            <p>404 Not Found</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/javascripts/jquery-2.1.4.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>