<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Change Password</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link rel="stylesheet" href="/stylesheets/eid-e-claus-change-password.css"/>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Change password</h3>
          </div>
          <div class="panel-body">
            <form class="form-horizontal" action="/eid-e-claus-change-password" method="POST">
              <div class="row">
                <div class="col-md-3">
                  <p>New password:</p>
                </div>
                <div class="col-md-9">
                  <input type="password" name="password" class="form-control" required autofocus>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <p>Confirm password:</p>
                </div>
                <div class="col-md-9">
                  <input type="password" name="confirmPassword" class="form-control" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 col-center">
                  <button type="submit" id="submit" class="btn btn-default">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <% if (error.length > 0) { %>
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p><%=error%></p>
          </div>
        <% } %>
      </div>
    </div>
  </div>
  <script src="/javascripts/jquery-2.1.4.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>