<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Draw</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <header>
          <% include partials/eid-e-claus-navbar.ejs %>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel">
          <div class="panel-body">
            <form class="form-horizontal" action="#" method="POST">
              <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                  <button type="button" class="btn btn-primary" id="addGroup">Add group</button>
                </div>
              </div>
              <hr>
              <div id="names">
                
              </div>
              <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <% if (error.length > 0) { %>
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p><%=error%></p>
          </div>
        <% } %>
        <% if (success.length > 0) { %>
          <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p><%=success%></p>
          </div>
        <% } %>
      </div>
    </div>
  </div>
  <script>
    var people = <%- JSON.stringify(people) %>;
  </script>
  <script src="/javascripts/jquery-2.1.4.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/navbar-active.js"></script>
  <script src="/javascripts/eid-e-claus-draw.js"></script>
</body>
</html>