<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Adil Parvez</title>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Adil Parvez</h3>
          </div>
          <div class="panel-body">
            <p>BA (Mathematical Tripos)</p>
            <p>Email me at <a href="mailto:contact@adilparvez.co.uk">contact@adilparvez.co.uk</a>, click <a href="/download/public.asc">here</a> for my public key.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel">
          <div class="panel-body">
            <p><a href="/visualiser">Visualiser</a> - a music visualiser.</p>
            <p><a href="/eid-e-claus-login">Eid-e-claus</a> - a secret santa web app.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">GitHub</h3>
          </div>
          <div class="panel-body">
              <p><a href="//github.com/AdilParvez" target="_blank">github.com/AdilParvez</a> (opens in a new tab).</p>
            <hr>
              <p><i>adilparvez.co.uk</i> - built using <a href="//nodejs.org" target="_blank">Node.js</a> and <a href="//expressjs.com" target="_blank">Express</a> with <a href="//embeddedjs.com" target="_blank">EJS</a> and <a href="//getbootstrap.com" target="_blank">Bootstrap</a>. Paper theme by <a href="//bootswatch.com" target="_blank">Bootswatch</a>. <a href="//nginx.org" target="_blank">Nginx</a> is used as a reverse proxy to the node server. In the future if I want to go HTTPS only, then the Nginx config needs to be updated to rewite HTTP requests and terminate SSL connections. Also set the HSTS header so the next time the client connects, the rewrite happens client side.</p>
              <p><a href="//github.com/AdilParvez/adilparvez.co.uk" target="_blank">source</a></p>
            <hr>
              <p><i>Visualiser</i> - built using the <a href="//webaudio.github.io/web-audio-api/" target="_blank">Web Audio API</a>.</p>
              <p><a href="//github.com/AdilParvez/adilparvez.co.uk/blob/master/adilparvez.co.uk/public/javascripts/visualiser.js" target="_blank">source</a></p>
            <hr>
              <p><i>Eid-e-claus</i> - I built this for my family, users can create an account and upload their wishlist. A user with permissions to initiate a draw can access a page which allows them to make groups of people (people in the same group can't get each other), and draw. After the draw emails are sent to the people involved with the wishlist of the person they got attached.</p>
              <p>Built using <a href="//passportjs.org/" target="_blank">Passport</a> for authentication, passwords are salted and hashed with <a href="//npmjs.com/package/bcrypt-nodejs" target="_blank">bcrypt</a>, users are stored in a <a href="//mongodb.org" target="_blank">MongoDB</a> database which is talked to using <a href="//mongoosejs.com/" target="_blank">mongoose</a>. Emails are handled by <a href="//github.com/andris9/Nodemailer" target="_blank">nodemailer</a>.</p>
              <p><a href="//github.com/AdilParvez/adilparvez.co.uk" target="_blank">source</a></p>
            <hr>
              <p><i>Game Engine</i> - an exploration of the programmabale graphics pipeline and basic game programming techniques written in Java using <a href="//lwjgl.org" target="_blank">LWJGL</a> for OpenGL bindings.</p>
              <p><a href="//github.com/AdilParvez/GameEngine" target="_blank">source</a></p>
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <img src="/images/game-engine-screenshot.png" style="width:100%;">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <img src="/images/game.gif" style="width:100%;">
                </div>
              </div>
            <hr>
              <p><i>Tweaks</i> - an <a href="//repo.xposed.info/module/de.robv.android.xposed.installer" target="_blank">Xposed</a> module, containg AOSP and CM tweaks. It can disbale the proximity sensor, add the app icon to toasts, hide the user switcher, hide the superuser icon, and enable call recording.</p>
              <p><a href="//github.com/AdilParvez/Tweaks" target="_blank">source</a>, <a href="/download/apk/uk.co.adilparvez.tweaks.apk" target="_blank">apk</a></p>
            <hr>
              <p><i>Icon Mods</i> - Xposed modules that can replace the icons of apps system wide, this is better than modding the apks because these changes persist across updates.</p>
              <p><i>K-9 Mail Icon Mod</i> - K-9 Mail is the best email app but its icon is ugly <img src="/images/k-9mail.png" style="width:32px; height:32px">, this replaces it by the default email app icon <img src="/images/email.png" style="width:32px; height:32px">.</p>
              <p><a href="//github.com/AdilParvez/K-9-Mail-Icon-Mod" target="_blank">source</a>, <a href="/download/apk/uk.co.adilparvez.k_9mailiconmod.apk" target="_blank">apk</a></p>
              <p><i>F-Droid Icon Mod</i> - this replaces the F-Droid app icon <img src="/images/f-droid.png" style="width:32px; height:32px"> by that of ApkTrack <img src="/images/apktrack.png" style="width:32px; height:32px">.</p>
              <p><a href="//github.com/AdilParvez/F-Droid-Icon-Mod" target="_blank">source</a>, <a href="/download/apk/uk.co.adilparvez.f_droidiconmod.apk" target="_blank">apk</a></p>
              <p><i>Fennec Icon Mod</i> - this replaces the Fennec F-Droid/Firefox app icon <img src="/images/fennecf-droid.png" style="width:32px; height:32px">/<img src="/images/firefox.png" style="width:32px; height:32px"> with <img src="/images/fennec.png" style="width:32px; height:32px">.</p>
              <p><a href="//github.com/AdilParvez/Fennec-Icon-Mod" target="_blank">source</a>, <a href="/download/apk/uk.co.adilparvez.fenneciconmod.apk" target="_blank">apk</a></p>
              <p><i>Xposed Installer Icon Mod</i> - this replaces the Xposed Installer app icon <img src="/images/xposedinstaller.png" style="width:32px; height:32px"> with <img src="/images/xposed.png" style="width:32px; height:32px">.</p>
              <p><a href="//github.com/AdilParvez/Xposed-Installer-Icon-Mod" target="_blank">source</a>, <a href="/download/apk/uk.co.adilparvez.xposedinstallericonmod.apk" target="_blank">apk</a></p>
            <hr>
              <p><i>Maths</i> - code I've written to solve/investigate maths problems.</p>
              <p><i>Matrices over Galois fields</i> - library to compute algebraic invariants attatched to vector spaces and linear maps over galois fields, computes kernel bases, annihilator bases, bases of sums of spaces, and bases of intersections of spaces.</p>
              <p><a href="//github.com/AdilParvez/Matrices-Over-Prime-Order-Galois-Fields" target="_blank">source</a></p>
              <p><i>Elliptic curves</i> - efficient algorithm to compute the order of elliptic curves over prime order fields, and look at the error distribution of a liner approximation to the order at good reductons.</p>
              <p><a href="//github.com/AdilParvez/elliptic_curves" target="_blank">source</a></p>
              <p><i>Positive definite binary quadratic forms</i> - find reduced forms, give reduction sequence, compute class numbers, find all forms representing a prime.</p>
              <p><a href="//github.com/AdilParvez/positive_definite_binary_quadratic_forms" target="_blank">source</a></p>
              <p><i>codes</i> - build Huffman code book and Shannon-Fano code book from text file.</p>
              <p><a href="//github.com/AdilParvez/codes/" target="_blank">source</a></p>
              <p><i>Linear programs</i> - single phase simplex, and dual simplex.</p>
              <p><a href="//github.com/AdilParvez/Linear-Programs" target="_blank">source</a></p>
              <p><i>Primality testing</i> - Fermat pseudoprimes, Euler psuedoprimes, Strong pseudoprimes, weak AKS pseudoprimes.</p>
              <p><a href="//github.com/AdilParvez/primality_testing" target="_blank">source</a></p>
            <hr>
              <p><i>Random variable sampling</i> - get observed values of a random variable following a particular distribution, e.g. RandomVariable X = new Gamma(1, 2); double x = X.observe();.</p>
              <p><a href="//github.com/AdilParvez/Random-Variable" target="_blank">source</a></p>
              <p>Let U ~ Unif({1, 2, 3, 4}), R ~ Rademacher. Let X<sub>0</sub> = 0, X<sub>t</sub> - X<sub>t-1</sub> ~ RU for t > 0.</p>
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <img src="//raw.githubusercontent.com/AdilParvez/Random-Variable/master/random_walk_1d_compressed.gif" style="width:100%;">
                </div>
              </div>
            <hr>
              <p><i>Madelbrot set viewer</i> - view the Mandelbrot set with continuous log-based colouring to eliminate banding.</p>
              <p><a href="//github.com/AdilParvez/Mandelbrot-Set-Viewer" target="_blank">source</a></p>
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <img src="/images/mandelbrot.gif" style="width:100%;">
                </div>
              </div>
            <hr>
              <p><i>Particle simulator game</i> - simple game.</p>
              <p><a href="//github.com/AdilParvez/Particle-Simulator" target="_blank">source</a></p>
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <img src="/images/particle.gif" style="width:100%;">
                </div>
              </div>
            <hr>
              <p><i>List</i> - a generic linked list in C with a named argument constructor.</p>
              <p><a href="//github.com/AdilParvez/c_named_argument_constructor" target="_blank">source</a></p>
            <hr>
              <p><i>Chat client/server</i> - IB CompSci ticks.</p>
              <p><a href="//github.com/AdilParvez/Chat-Client-and-Server" target="_blank">source</a></p>
            <hr>
              <p><i>Discrete time, homogeneous, finite state space Markov chain simulator</i> - edudational tool illustrating Markov chains.</p>
              <p><a href="//github.com/AdilParvez/Markov-Chain-Simulator" target="_blank">source</a></p>
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <img src="/images/markov.gif" style="width:100%;">
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/javascripts/jquery-2.1.4.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>