<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Visualiser</title>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/visualiser.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel">
          <div class="panel-body">
            <canvas width="1280" height="720" id="myCanvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-success">
          <div class="panel">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-md-offset-3">
                  <button type="button" disabled="true" id="toggle" class="btn btn-success">play</button>
                </div>
                <div class="col-md-3">
                  <button type="button" disabled="true" id="restart" class="btn btn-warning">restart</button>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <select id="fileSelect" class="btn btn-success dropdown">
                    <option selected="selected" disabled="disabled">choose file</option>
                    <% for (var i = 0; i < files.length; ++i) { %>
                        <option value="<%=files[i]%>"><%=files[i]%></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/javascripts/jquery-2.1.4.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/visualiser.js"></script>
</body>
</html>